<% @questao.respostas.build %>

<%= form_for(@questao) do |qf| %>
  <% if @questao.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@questao.errors.count, "error") %> prohibited this questao from being saved:</h2>

      <ul>
      <% @questao.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= qf.label :texto %><br />
    <%= qf.text_field :texto %>
  </div>
  <div class="field">
    <%= qf.label :data %><br />
    <%= qf.date_select :data %>
  </div>

  <h2>Respostas</h2>
  <%= render :partial=>'respostas/form', :locals=>{:form=>qf} %>

  <div class="actions">
    <%= qf.submit %>
  </div>
<% end %>
