<p id="notice"><%= notice %></p>

<p>
  <b>Texto:</b>
  <%= @questao.texto %>
</p>

<p>
  <b>Data:</b>
  <%= @questao.data %>
</p>

<p>
	<b>Respostas:</b>
	<%= join_respostas(@questao) %>
</p>

<h2>Escolhas</h2>
<%= render @questao.escolhas %>

<h2>Insere Escolha:</h2>
<%= render 'escolhas/form' %>

<%= link_to 'Edit', edit_questao_path(@questao) %> |
<%= link_to 'Back', questaos_path %>
